@model GroupsIndexViewModel
@{
    ViewBag.Title = $"\"{ViewBag.Course.Name}\" course groups";
    ViewData["CourseId"] = ViewBag.Course.Id; //TODO: Попробовать перенести в контроллер
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">"@ViewBag.Course.Name" course groups</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Groups" asp-action="Create" asp-route-courseId="@ViewBag.Course.Id" class="btn btn-primary">
                Create New Group
            </a>
        </div>
    </div>

    <br />

    @if (Model.Groups.Any())
    {
        <table class="table table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th class="ps-3">Group Name</th>
                    <th>Formation Date</th>
                    <th>Students Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model.Groups)
                {
                    <tr>
                        <td wigth="30%" class="ps-3">
                            <a class="h5" asp-controller="Students" asp-action="Index" asp-route-groupId="@group.Id">@group.Name</a>
                        </td>
                        <td width="30%">@group.FormationDate.ToString("dd/MM/yyyy")</td>
                        <td width="30%">@group.Students.Count</td>
                        <td class="text-center">
                            <div class="w-75 btn-group">
                                <a asp-controller="Groups" asp-action="Edit" asp-route-Id="@group.Id" class="btn btn-primary">
                                    Edit
                                </a>
                                <a asp-controller="Groups" asp-action="Delete" asp-route-Id="@group.Id" class="btn btn-danger">
                                    Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No groups exists.</p>
    }
    <partial name="_Pager" model="@Model.PagingInfo" view-data="ViewData" />
    <br />
</div>

