@model GroupsIndexViewModel
@inject IViewLocalizer _localizer
@{
    ViewBag.Title = _localizer["CourseGroups", ViewBag.Course.Name];
    ViewData["CourseId"] = ViewBag.Course.Id;
}

<div class="container p-2">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">@_localizer["CourseGroups", ViewBag.Course.Name]</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Groups" asp-action="Create" asp-route-courseId="@ViewBag.Course.Id" class="btn btn-primary">
                @_localizer["CreateNewGroup"]
            </a>
        </div>
    </div>

    <br />

    @if (Model.Groups.Any())
    {
        <table class="table table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th class="ps-3">@_localizer["GroupName"]</th>
                    <th>@_localizer["FormationDate"]</th>
                    <th>@_localizer["StudentsQuantity"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model.Groups)
                {
                    <tr class="align-middle">
                        <td wigth="30%" class="ps-3">
                            <a class="h5" asp-controller="Students" asp-action="Index" asp-route-groupId="@group.Id">@group.Name</a>
                        </td>
                        <td width="30%">@group.FormationDate.ToShortDateString()</td>
                        <td width="20%">@group.StudentsQuantity</td>
                        <td class="text-center">
                            <div>
                                <a asp-controller="Groups" asp-action="Edit" asp-route-Id="@group.Id" class="btn btn-primary ms-4 my-2">
                                    @_localizer["Edit"]
                                </a>
                                <a asp-controller="Groups" asp-action="Delete" asp-route-Id="@group.Id" class="btn btn-danger ms-4 my-2">
                                    @_localizer["Delete"]
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>@_localizer["NoGroupsExists"]</p>
    }
    <partial name="_Pager" model="@Model.PagingInfo" view-data="ViewData" />
    <br />
</div>

