@inject IViewLocalizer _localizer

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/js/TextTrimming.js"></script>
    <link href="~/lib/css/site.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" />
    <title>@_localizer["UniversityAccounting"] - @ViewBag.Title</title>
</head>
<body style="height: 760px">
    <header>
        <nav class="navbar py-3 navbar-expand-lg navbar-dark bg-primary border-bottom mb-3">
            <div class="container">
                <a class="navbar-brand " asp-area="" asp-controller="Courses" asp-action="Index">@_localizer["UniversityAccounting"]</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active mt-1" style="font-size: larger" aria-current="page" href="#">@_localizer["About"]</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <breadcrumb class="ps-2"></breadcrumb>
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer>
        <div class="container pb-3">
            &copy; 2021 - UniverWebApp
        </div>
    </footer>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
