@model UniversityAccounting.WEB.Models.PagingInfo
@inject IViewLocalizer _localizer

<div class="container">
    @if (Model.TotalPages > 1)
    {
        <ul class="pagination justify-content-start">

            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)" asp-route-courseId="@ViewData["CourseId"]" asp-route-groupId="@ViewData["GroupId"]">@_localizer["Previous"]</a>
                </li>
            }

            @for (var pg = 1; pg <= Model.TotalPages; pg++)
            {
                <li class="page-item @(pg == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-page="@pg" asp-route-courseId="@ViewData["CourseId"]" asp-route-groupId="@ViewData["GroupId"]">@pg</a>
                </li>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)" asp-route-courseId="@ViewData["CourseId"]" asp-route-groupId="@ViewData["GroupId"]">@_localizer["Next"]</a>
                </li>
            }

        </ul>
    }
</div>