@model CoursesIndexViewModel
@inject IViewLocalizer _localizer
@{ ViewBag.Title = _localizer["Courses"];}

<div class="container p-2">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary ps-3">@_localizer["CoursesList"]</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Courses" asp-action="Create" class="btn btn-primary">
                @_localizer["CreateNewCourse"]
            </a>
        </div>
    </div>

    @if (Model.Courses.Any())
    {
        <table class="table table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th class="ps-3">@_localizer["CourseName"]</th>
                    <th>@_localizer["Description"]</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model.Courses)
                {
                    <tr>
                        <td wigth="20%" class="align-middle ps-3">
                            <a class="h5" asp-controller="Groups" asp-action="Index" asp-route-courseId="@course.Id">@course.Name</a>
                        </td>
                        <td width="60%">@course.Description</td>
                        <td class="text-center align-middle" >
                            <div>
                                <a asp-controller="Courses" asp-action="Edit" asp-route-Id="@course.Id" class="btn btn-primary ms-4 my-2">
                                    @_localizer["Edit"]
                                </a>
                                <a asp-controller="Courses" asp-action="Delete" asp-route-Id="@course.Id" class="btn btn-danger ms-4 my-2">
                                    @_localizer["Delete"]
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>@_localizer["NoCoursesExists."]</p>
    }
    <partial name="_Pager" model="@Model.PagingInfo" />
    <br />
</div>